{% set enginePowerUnit = 'KM' %}{% set accelerationUnit = 's' %}
<h1>Dane</h1>
<p>Uszkodzone rekordy zaznaczono kolorem czerwonym i zostaną zastąpione wartością średnią.</p>
<p>Liczba rekordów = <b>{{ cars|length }}</b></p>

<table style="width:100%">
    <tr>
        <th>№</th>
        <th>brand</th>
        <th>model</th>
        <th>engine power</th>
        <th>acceleration</th>
    </tr>

    {% for car in cars %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>

            {% if car.enginePower < norm.enginePowerFrom or car.enginePower > norm.enginePowerTo %}
                <td class="invalid"><div>{{ car.enginePower }} {{ enginePowerUnit}}</div></td>
            {% else %}
                <td>{{ car.enginePower }} {{ enginePowerUnit}} </td>
            {% endif %}

            {% if car.acceleration < norm.accelerationFrom or car.acceleration > norm.accelerationTo %}
                <td class="invalid"><div>{{ car.acceleration }} {{ accelerationUnit}}</div></td>
            {% else %}
                <td>{{ car.acceleration }} {{ accelerationUnit}}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>