<table style="width:100%">
    <tr>
        <th>id</th>
        <th>brand</th>
        <th>model</th>
        <th>engine power</th>
        <th>acceleration</th>
    </tr>

    {% for car in cars %}
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.enginePower }} kW</td>
            <td>{{ car.acceleration }}</td>
        </tr>
    {% endfor %}
</table>
{#{% if car.enginePower < 10 %}#}
                {#{{ car.enginePower }}#}
                {#{% elseif car.enginePower > 150 %}#}
                {#{% else %}#}
                {#{{ car.enginePower }}#}
                {#{% endif %}#}