Liczba rekordów = <b>{{ cars|length }}</b>

<table style="width:100%">
    <tr>
        <th>№</th>
        <th>brand</th>
        <th>model</th>
        <th>engine power</th>
        <th>acceleration</th>
    </tr>

    {% for car in cars %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.enginePower }} kW</td>
            {% if car.acceleration < 10 %}
                <td class="invalid"><a href=""><div>{{ car.acceleration }}</div></a></td>
            {% else %}
                <td>{{ car.acceleration }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>