<h2>Analiza statystyczna</h2>

<div>
    <b>min</b>(enginepower) = {{ minEnginepower }}<br/>
    <b>max</b>(enginepower) = {{ maxEnginepower }}
</div>

<div>
    <b>min</b>(acceleration) = {{ minAcceleration }}<br/>
    <b>max</b>(acceleration) = {{ maxAcceleration }}
</div>

<div>
    <b>average</b>(enginepower) = {{ averageEnginepower }}
    <b>average</b>(acceleration) = {{ averageAcceleration }}
</div>

<div>
    <b>median</b>(enginepower) = {{ medianEnginepower }} <br/>
    <b>median</b>(acceleration) = {{ medianAcceleration }}
</div>

<div>
    <b>SD</b>(enginePower) = {{ standardDeviationEnginepower }} <br/>
    <b>SD</b>(acceleration) = {{ standardDeviationAcceleration }}
</div>

{% if pearsonCorrelation.r > 0 %}
    <div>
        <b>r</b> = {{ pearsonCorrelation.r }} > 0 korelacja dodatnia <br/>
        gdy wartość X rośnie to Y też
    </div>
{% elseif pearsonCorrelation.r == 0 %}
    <div>
        <b>r</b> = {{ pearsonCorrelation.r }} = 0 brak korelacji <br/>
        gdy X rośnie to Y czasem rośnie a czasem maleje
    </div>
{% elseif pearsonCorrelation.r < 0 %}
    <div>
        <b>r</b> = {{ pearsonCorrelation.r }} < 0 korelacja ujemna <br/>
        gdy X rośnie to Y maleje
    </div>
{% endif %}

{#|r| = {{ pearsonCorrelation.rModulus }}#}
{% if pearsonCorrelation.rModulus < 0.2 %}
    <div><b>|r|</b> < 0.2 – brak związku liniowego</div>
{% elseif pearsonCorrelation.rModulus > 0.2 and  pearsonCorrelation.rModulus < 0.4 %}
    <div><b>|r|</b> (0.2 – 0.4) – słaba zależność</div>
{% elseif pearsonCorrelation.rModulus > 0.4 and  pearsonCorrelation.rModulus < 0.7 %}
    <div><b>|r|</b> (0.4 -0.7) – umiarkowana zależność</div>
{% elseif pearsonCorrelation.rModulus > 0.7 and  pearsonCorrelation.rModulus < 0.9 %}
    <div><b>|r|</b> (0.7 – 0.9) – dość silna zależność</div>
{% elseif pearsonCorrelation.rModulus > 0.9 %}
    <div><b>|r|</b> > 0.9 – bardzo silna zależność</div>
{% endif %}

<div>
    <b>Y = aX + b</b> <br/>
    <b>a</b> = {{ linearRegression.a }}<br/>
    <b>b</b> = {{ linearRegression.b }} {#{{ linearRegression.equation }}#}
</div>
<div>
    <b>Q1</b>(enginepower) = {{ quartile1Enginepower }}<br/>
    <b>Q2</b>(enginepower) = {{ quartile2Enginepower }}<br/>
    <b>Q3</b>(enginepower) = {{ quartile3Enginepower }}<br/>
    <b>IRQ</b>(enginepower) = {{ quartile3Enginepower - quartile1Enginepower }}
</div>
<div>
    <b>Q1</b>(acceleration) = {{ quartile1Acceleration }}<br/>
    <b>Q2</b>(acceleration) = {{ quartile2Acceleration }}<br/>
    <b>Q3</b>(acceleration) = {{ quartile3Acceleration }}<br/>
    <b>IRQ</b>(acceleration) = {{ quartile3Acceleration - quartile1Acceleration }}
</div>