{% set enginePowerUnit = 'KM' %}
{% set accelerationUnit = 's' %}
<h1>Estymacja</h1>
<p>W tabeli poniżej przedstawiono wygenerowaną losowo moc silnika.</p>
<p>Za pomocą równania regresji liniowej została estymowana wartość przyspieszenia.</p>
<p>Liczba wygenerowanych rekordów = <b>{{ newEnginePower|length }}</b>
    <button class="estymacjaZmien">zmień</button>
</p>

<table style="width:100%">
    <tr>
        <th>№</th>
        <th>engine power(X)</th>
        <th>acceleration(aX + b)</th>
    </tr>

    {% for oneEnginePower in newEnginePower %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ oneEnginePower }} {{ enginePowerUnit }}</td>
            <td>{{ a * oneEnginePower + b }} {{ accelerationUnit }}</td>
        </tr>
    {% endfor %}
</table>